#include ".xres/urxvt" 
!#include ".xres/st"
#include ".cache/wal/colors.Xresources"

!*.font: xft:DejaVuSansMono Nerd Font:size=14
!*.scrollBar: false
!*.cursorColor: white

Xcursor.theme: xcursor-breeze
Xcursor.size: 0
